# --- General ---
APP_PORT=8000

# --- PostgreSQL ---
POSTGRES_DB=tarea1_db
POSTGRES_USER=app_user
POSTGRES_PASSWORD=changeme123

# --- Keycloak ---
KEYCLOAK_REALM=tarea1-realm
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=changeme123